<section>
<div class="grid-body">
    <div id="box1">
        <h3>Chennai Super Kings</h3>
        <p>https://www.chennaisuperkings.com/</p>
        <p>965-144-6018</p>
        <img src="../assets/csk.png">
    </div>
    <div id="box2">
        <h3>Mumbai Indians</h3>
        <p>https://www.mumbaiindians.com/</p>
        <p>1-522-714-2638x44811</p>
        <img src="../assets/MI.png">
    </div>
    <div id="box3">
        <h3>Rajastjan Royals</h3>
        <p>https://www.rajasthanroyals.com/</p>
        <p>(038)030-9641 x7086</p>
        <img src="../assets/RR.png">
    </div>
    <div id="box4">
        <h3>Delhi Capitals</h3>
        <p>https://www.delhicapitals.in/</p>
        <p>005-851-7095x72027</p>
        <img src="../assets/Delhi.png">
    </div>
    <div id="box5">
        <h3>Royal Challengers Banglore</h3>
        <p>https://www.royalchallenger.com/</p>
        <p>1-471-836-5871x5841</p>
     <img src="../assets/RCB.png">
    </div>
    <div id="box6">
        <h3>Kolkata Knight Riders</h3>
        <p>https://www.kkr.in/</p>
        <p>(247) 305-7427</p>
        <img src="../assets/KKR.png">
    </div>
    <div id="box7">
        <h3>Delhi Capitals</h3>
        <p>https://www.delhicapitals.in/</p>
        <p>005-851-7095x72027</p>
        <img src="../assets/Delhi.png">
    </div>
    <div id="box8">
        <h3>Royal Challengers Banglore</h3>
        <p>https://www.royalchallenger.com/</p>
        <p>1-471-836-5871x5841</p>
     <img src="../assets/RCB.png">
    </div>
    <div id="box9">
        <h3>Kolkata Knight Riders</h3>
        <p>https://www.kkr.in/</p>
        <p>(247) 305-7427</p>
        <img src="../assets/KKR.png">
    </div>
    <div id="box10">
        <h3>Kings XI Punjab</h3>
        <p>https.//www.xxip.in/</p>
        <p>475.0714608x101</p>
        <img src="../assets/KXI.png">
    </div>
    <div id="box11">
        <h3>Sunrisers Hyderabad</h3>
        <p>https://www.sunrisershyderabad.in/</p>
        <p>070 610 2661</p>
        <img src="../assets/SRH.png">
    </div>
</div>
</section>
